<nav class="shadow-md ">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <a href="/" class="block w-32 md:w-48">
            <img src="/assets/images/logo.png" alt="Logo"  class="w-full h-auto"/>
          </a>
      <div class="space-x-4">
        <a href="/about" class="underline-animate">About</a>
        <a href="/projects" class="underline-animate">Projects</a>
        <a href="/contact" class="underline-animate">Contact</a>
      </div>
    </div>
  </nav>
