<nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <a routerLink="/" class="block w-32 md:w-48">
            <img src="/assets/images/logo.png" alt="Logo"  class="w-full h-auto"/>
          </a>
      <div class="space-x-4">
        <a href="/about" class="text-gray-700 hover:text-blue-500">About</a>
        <a href="/projects" class="text-gray-700 hover:text-blue-500">Projects</a>
        <a href="/contact" class="text-gray-700 hover:text-blue-500">Contact</a>
      </div>
    </div>
  </nav>
