<section class="home-container">
  <div class="greeting-main flex h-screen">
    <div class="w-1/2  items-center">
      <h1 class="text-6xl!important font-extrabold text-left" style="font-size: 4rem !important;">Hi, I'm Hina</h1>
    <h2 class="text-left">
      A full-stack and AI developer who loves building smart, useful web apps. I work with Angular, TypeScript, Python, and the Spring Framework to turn ideas into fast, clean, and scalable solutions.

      I’m passionate about using AI to create tools that feel fun, helpful, and just make life a little easier. Always learning, always building — excited for what’s next!
      
      </h2>
      <div class="social-icons items-center">
        <a href="https://www.linkedin.com/in/hina-imran/?trk=public-profile-join-page" target="_blank">
          <i class="fa-brands fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/heenaI" target="_blank">
          <i class="fa-brands fa-github fa-lg"></i>
        </a>
      </div>

    </div>
    <div class="w-full max-w-3xl aspect-video mx-auto">
      <iframe
        src="https://lottie.host/embed/e6869419-d04c-4e39-ae46-4095ca520f06/t9F5p1cWHg.lottie"
        class="w-full h-full border-none"
        allowfullscreen
      ></iframe>
    </div>

  </div>
    
  
  </section>
