<section class="home-container">
  <div class="greeting-main">
    <h1>Hi, I'm Hina</h1>
    <h2 class="mutedGrey">A full-stack and AI developer who loves building smart, useful web apps. I work with Angular, TypeScript, Python, and the Spring Framework to turn ideas into fast, clean, and scalable solutions.

      I’m passionate about using AI to create tools that feel fun, helpful, and just make life a little easier. Always learning, always building — excited for what’s next!
      
      </h2>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/hina-imran/?trk=public-profile-join-page" target="_blank">
          <i class="fa-brands fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/heenaI" target="_blank">
          <i class="fa-brands fa-github fa-lg"></i>
        </a>
      </div>

  </div>
    
    
    <!-- <ngx-typed-writer
    [strings]="[
          'AI Enthusiast.', 'Full-Stack Developer.', 'Open Source Contributor.', 'Lifelong Learner.'
        ]"
    [isHTML]="true"
    [smartBackspace]="true"
    [backSpeed]="20"
    [typeSpeed]="30"
  ></ngx-typed-writer> -->
  
    
  
  </section>
