/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Tailwind Utility Classes with Custom Styles */

@layer components {
  .underline-animate {
    @apply relative inline-block;

    &::after {
      content: '';
      @apply absolute left-0 -bottom-1 h-0.5 w-0 bg-textLight transition-all duration-300;
      transition-property: width;
    }

    &:hover::after {
      @apply w-full;
    }
  }

  
}

